@use '../abstract' as a;

:root {
  @include a.map-to-root(clr, a.$colors);
}

body {
  display: grid;
  justify-items: center;
  background-image: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat;
  background-position: top left, bottom right;

  @include a.breakpoint(medium) {
    background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
  }
}