@use '../abstract' as a;

h1, h2, h3, h4,
h5, h6, p {
  font-family: 'League Spartan', sans-serif;
}

h2 {
  font-size: 1.75rem;

  @include a.breakpoint(medium) {
    font-size: 3.75rem;
  }
}

h3 {
  font-size: 1rem;

  @include a.breakpoint(medium) {
    font-size: 1.10rem;
  }
}

p {
  line-height: 1.5;
}

li {
  list-style: none;
}