// Colors
$colors: (
  // Main Colors
        primary-color: (
                'very-dark-magenta': hsl(300, 43%, 22%),
                'soft-pink': hsl(333, 80%, 67%),
        ),
        neutral-color: (
                'dark-grayish-magenta': hsl(303, 10%, 53%),
                'light-grayish-magenta': hsl(300, 24%, 96%),
        ),
  // Other
        'background': hsl(300, 24%, 96%),
        'white': hsl(0, 0%, 100%),
        'black': hsl(0, 0%, 0%),
);